@import '~themes/theme';

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: $spacing-xxsmall;
  a,
  button {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: $font-size-medium;
    font-weight: bold;
    max-width: 30rem;
    width: 100%;
    padding: $spacing-xxsmall $spacing-xsmall;
    border-radius: $border-radius;
    cursor: pointer;
    &.primary {
      background-color: $color-primary;
    }
    &.secondary {
      background-color: $color-secondary;
    }
    &.white {
      color: $white;
    }
    &.black {
      color: $black;
    }
  }
}
