@import '~themes/theme';

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: $spacing-xxsmall;

  a,
  button {
    border: none;
    text-align: center;
    background: $color-secondary;
    text-decoration: none;
    color: $black;
    font-size: $font-size-medium;
    font-weight: bold;
    max-width: 30rem;
    width: 100%;
    padding: $spacing-xxsmall $spacing-xsmall;
    border-radius: $border-radius;
    cursor: pointer;
  }
}
